<!DOCTYPE html>
<html>
    <head>
        <title>YTDL</title>
        <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.css" rel="stylesheet">
    </head>
    <body>
        <div class="container is-flex is-flex-direction-column is-justify-content-center p-6">
            <div class="block is-flex is-flex-direction-column has-text-centered">
                <h1 class="title">YTDL</h1>
                <h3 class="subtitle">Copyright @ 2020 Marcus Xu</h3>
            </div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
